{% extends "base.html" %}
{% block content %}

    <h2>{{ page_title }}</h2>
    <p>
        I confess: I am the worst junk food junkie in this great gluttonous galaxy of sugar, salt, and fat. You can keep your
        lentils, granola, and prunes. I want calories and carbohydrates, burgers and fries. Within minutes after waking up
        grouchy and puffy-eyed in the morning, I stumble to the kitchen and pour myself a tall glass of ice-cold Pepsi. Ahh! My
        tongue tingles and my eyes pop open. I then have the energy to eat. I rummage through the refrigerator, push aside the
        yogurt and apples, and there it is: a slice of congealed pepperoni pizza. That's enough to get me off to school and
        through my first class. Of course, I then head to the store on my first break for a Snickers bar and a Diet Mountain
        Dew. The "lite" soft drink, you see, compensates for the calories in the candy. An hour or two later, for lunch, I
        gobble down a row of Golden Double Stuf Oreos and a peanut butter sandwich, all sloshed down with a pint of chocolate
        milk. Later in the afternoon, I stop at Five Guys to devour a double bacon cheeseburger and a monster order of
        sodium-loaded fries. Finally, before going to bed, I knock off a bag of Philly Cheese Steak Rippled Potato
        Chips—dripping with onion dip.
    </p>

    {% for key in company %}
    

        <div class="row featurette"> <!-- look for odd numbers with loop -->

            {% if loop.index % 2 != 0 %}

            <div class="col-md-5">
                <h3><a href="/about/{{ key.url }}">{{ loop.index }} . {{ key.name }}</a></h3>
                <p>
                    {{ key.description }}
                </p>
            </div>

            <div class="col-md-5">
                <img src="{{ key.image_source }}" alt="" class="featurette-image image-responsive">
            </div>

              {% else %}

                <div class="col-md-5">
                    <img src="{{ key.image_source }}" alt="" class="featurette-image image-responsive">
                </div>

                <div class="col-md-7">
                     <h3><a href="/about/{{ key.url }}">{{ loop.index }} . {{ key.name }}</a></h3>
                    <p>{{ key.description }}</p>
                </div>

             {% endif %}

        </div>

        
        {% if loop.index != loop.length %}

            <hr class="featurette-divider">

        {% endif %}

    {% endfor %}

{% endblock %}